@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>This application allows you to view user claims after logging in to Azure Active Directory.</p>
    <p>@Html.ActionLink("View User Info", "UserInfo", "Account")</p>
</div>

<div>Ensure Azure Active Directory is set up correctly.</div>
<ol>
    <li>Create an App Registration in Azure AD.</li>
    <li>Create a Authentication Platform configuration of type <strong>Web</strong></li>
    <li>Set a Redirect Uri of <strong>https://localhost:44366</strong> or any other Uri where the app will be deployed</li>
    <li>
        If you want to include security group GUIDs in the list of claims, update the Manifest to
        <pre>"groupMembershipClaims": "SecurityGroup"</pre>
    </li>
    <li>
        Set the config values correctly for this app (in the Web.config file, but don't commit the ClientSecret)
        <pre>&lt;add key=&quot;ida:ClientId&quot; value=&quot;(add Azure AD app registration client id as GUID)&quot; /&gt;
&lt;add key=&quot;ida:ClientSecret&quot; value=&quot;(add Azure AD app registration client secret)&quot; /&gt;
&lt;add key=&quot;ida:Domain&quot; value=&quot;(add Azure AD domain here e.g. microsoft.onmicrosoft.com, microsoft.com&quot; /&gt;
&lt;add key=&quot;ida:TenantId&quot; value=&quot;(add Azure AD tenant id as GUID)&quot; /&gt;</pre>
    </li>
</ol>
